body {
  font-family: "Roboto", sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
  color: #333;
}

h1,
h2 {
  color: #4a90e2;
}

#loader {
  display: none;
  text-align: center;
  font-size: 1.5em;
  color: #4a90e2;
  margin: 20px 0;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.product {
  width: 250px;
  height: 100px;
  padding: 10px;
  border: 2px solid #4a90e2;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.product:hover {
  background-color: #e7f3ff;
  transform: translateY(-3px);
}

.product .name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.product .price {
  font-size: 1.5em;
  font-weight: bold;
  color: #4caf50;
  margin: 5px 0;
}

#orders {
  margin-top: 30px;
  width: 100%;
  border: 2px solid #4a90e2;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

#orders thead {
  background-color: #4a90e2;
  color: white;
  font-size: 0.9em;
}

#orders th,
#orders td {
  padding: 8px 12px;
  text-align: left;
  border: 1px solid #e0e0e0;
  font-size: 0.9em;
}

#orders td {
  font-weight: 400;
}

#ordersBody {
  max-height: 300px;
  overflow-y: auto;
}

#orders tr:nth-child(even) {
  background-color: #f2f2f2;
}

#orders tr:hover {
  background-color: #e7f3ff;
}

.new-order {
  animation: newOrderEffect 1s forwards;
}

@keyframes newOrderEffect {
  0% {
    background-color: #ffeb3b;
  }
  50% {
    background-color: #ffe57f;
  }
  100% {
    background-color: transparent;
  }
}
