/* WebSocketComponent.css */
body {
  font-family: "Roboto", sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
  color: #333;
}

h1,
h2 {
  color: #4a90e2;
}

#loader {
  display: none;
  text-align: center;
  font-size: 1.5em;
  color: #4a90e2;
  margin: 20px 0;
}
